<Configs>
	<xdgBaseDir>/Users/lucmichalski/.config</xdgBaseDir>
	<plucker>
		<name>rows</name>
		<activators>rows</activators>
		<activators>[</activators>
		<permanent>0</permanent>
		<deactivator>]</deactivator>
		<limit>-1</limit>
		<match>
			<mode></mode>
			<separator></separator>
			<split>false</split>
			<phrase></phrase>
		</match>
		<patterns>,</patterns>
		<patterns>:</patterns>
	</plucker>
	<plucker>
		<name>cols</name>
		<activators>cols</activators>
		<activators>[</activators>
		<permanent>0</permanent>
		<deactivator>]</deactivator>
		<limit>-1</limit>
		<match>
			<mode></mode>
			<separator></separator>
			<split>false</split>
			<phrase></phrase>
		</match>
	</plucker>
	<plucker>
		<name>unique_row</name>
		<activators>row</activators>
		<activators>[</activators>
		<permanent>0</permanent>
		<deactivator>]</deactivator>
		<limit>0</limit>
		<match>
			<mode></mode>
			<separator></separator>
			<split>false</split>
			<phrase></phrase>
		</match>
	</plucker>
	<plucker>
		<name>unique_col</name>
		<activators>col</activators>
		<activators>[</activators>
		<permanent>0</permanent>
		<deactivator>]</deactivator>
		<limit>0</limit>
		<match>
			<mode></mode>
			<separator></separator>
			<split>false</split>
			<phrase></phrase>
		</match>
	</plucker>
</Configs>