<Configs>
	<xdgBaseDir>/Users/lucmichalski/.config</xdgBaseDir>
	<plucker>
		<name>find_package</name>
		<activators>find_package</activators>
		<activators>(</activators>
		<permanent>0</permanent>
		<deactivator>)</deactivator>
		<limit>-1</limit>
		<match>
			<mode></mode>
			<separator></separator>
			<split>false</split>
			<phrase></phrase>
		</match>
		<patterns>CONFIG</patterns>
		<patterns>REQUIRED</patterns>
	</plucker>
	<plucker>
		<name>hunter_add_package</name>
		<activators>hunter_add_package</activators>
		<activators>(</activators>
		<permanent>0</permanent>
		<deactivator>)</deactivator>
		<limit>-1</limit>
		<match>
			<mode></mode>
			<separator></separator>
			<split>false</split>
			<phrase></phrase>
		</match>
	</plucker>
	<plucker>
		<name>set_property</name>
		<activators>set_property</activators>
		<activators>(</activators>
		<permanent>0</permanent>
		<deactivator>)</deactivator>
		<limit>-1</limit>
		<match>
			<mode></mode>
			<separator></separator>
			<split>false</split>
			<phrase></phrase>
		</match>
	</plucker>
</Configs>